﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="adminaccount.ascx.cs" Inherits="quanlyphongthuchanh.Cms.TaiKhoanAdmin.adminaccount" %>
<div class="list_menu">
    <div>
        <ul class="list_menu_item">
        <p style="margin-left: -40px;background-color:#ff8d72;width: 208px;height: 30px;margin-top: 0px;"align="center">Quản Lý</p>
        <li><a href="AdminDhv.aspx?modul=qltk&modulphu=admin" title="Quản lý tài khoản">QUản lý tài khoản</a></li>
    </ul>
        <ul class="list_menu_item">
        <p style="margin-left: -40px;background-color:#ba54f5;width: 208px;height: 30px;margin-top: 0px;" align="center">Thêm mới</p>
        <li><a href="AdminDhv.aspx?modul=qltk&thaotac=themmoitk" title="Thêm mới tài khoản">Thêm mới tài khoản</a></li>
    </ul>
    </div>
    <div class="chuainfo" style="margin-left: 10px">
        <div class="info">
        
<asp:PlaceHolder ID="plqltkloadcontrol" runat="server"></asp:PlaceHolder>
    </div>
    </div>

    </div>