﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="qlth.ascx.cs" Inherits="quanlyphongthuchanh.Cms.QuanLyThucHanh.qlth" %>
<div class="list_menu">
    <div>
        <ul class="list_menu_item">
        <p style="margin-left: -40px;background-color:#ff8d72;width: 208px;height: 30px;margin-top: 0px;"align="center">Quản Lý</p>
        <li><a href="AdminDhv.aspx?modul=qlth&modulphu=danhmucevent" title="Danh mục máy tính">Danh mục EVENT</a></li>
    </ul>
        <ul class="list_menu_item">
        <p style="margin-left: -40px;background-color:#ba54f5;width: 208px;height: 30px;margin-top: 0px;" align="center">Thêm mới</p>
        <li><a href="AdminDhv.aspx?modul=qlth&thaotac=themmoiev" title="Thêm mới danh mục máy tính">Thêm mới EVENT</a></li>
    </ul>
    </div>
    <div class="chuainfo" style="margin-left: 10px">
        <div class="info">
        
<asp:PlaceHolder ID="plqlthloadcontrol" runat="server"></asp:PlaceHolder>
    </div>
    </div>
    
</div>