﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="adminloadcontrol.ascx.cs" Inherits="quanlyphongthuchanh.Cms.adminloadcontrol" %>
<asp:PlaceHolder ID="pladminloadcotrol" runat="server"></asp:PlaceHolder>
