﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="themmoithanhvien.ascx.cs" Inherits="quanlycaulacbo.Cms.QuanLyClub.QuanLyDanhMucTV.themmoithanhvien"%>
<div class="head_themmoi">
     <p style="color:#FE5D93;font-weight:600;height: 30px;margin-top: 5px;" align="center">Thêm mới và chỉnh sửa thông tin máy tính</p>
    <div style="width:300px; height:2px; background-color:#FE5D93;align-content:center; margin-bottom:5px; margin-left:402px"></div>
</div>
<div class="info">
        <div class="insert">
    <div class="thongtin">    
    <div class="chuacot">
    <div class="tentruong">Tên Member</div>
    <div class="input"><asp:TextBox ID="tenmb" runat="server"></asp:TextBox></div>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="tenmb" ErrorMessage="(*) Bạn phải nhập thông tin" Display="Dynamic" SetFocusOnError="true" ForeColor="red"></asp:RequiredFieldValidator>
 </div>
        <div class="chuacot">
    <div class="tentruong">Năm sinh</div>
    <div class="input"><asp:TextBox ID="namsinh" runat="server"></asp:TextBox></div>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ControlToValidate="namsinh" ErrorMessage="(*) Bạn phải nhập thông tin" Display="Dynamic" SetFocusOnError="true" ForeColor="red"></asp:RequiredFieldValidator>
 </div>

<div class="chuacot">
    <div class="tentruong">Ảnh Member</div>
    <div class="input">
        <div>
            <asp:HiddenField ID="tenanhcu" runat="server" />
            <asp:Literal ID="anhchinhsua" runat="server"></asp:Literal>
        </div>
        <asp:FileUpload ID="hinhanh" runat="server" /></div>
</div>
    <div class="chuacot">
    <div class="tentruong">Mã sinh viên</div>
    <div class="input"><asp:TextBox ID="masv" runat="server" ></asp:TextBox></div>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="masv" ErrorMessage="(*) Bạn phải nhập thông tin" Display="Dynamic" SetFocusOnError="true" ForeColor="red"></asp:RequiredFieldValidator>
</div>
        </div>
    <div class="chuacot">
    <div class="tentruong">Thuộc khoa</div>
    <div class="input"><asp:TextBox ID="thuockhoa" runat="server" ></asp:TextBox></div>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ControlToValidate="thuockhoa" ErrorMessage="(*) Bạn phải nhập thông tin" Display="Dynamic" SetFocusOnError="true" ForeColor="red"></asp:RequiredFieldValidator>
        <asp:Literal ID="ltrdone" runat="server"></asp:Literal>
</div>
        <div class="chuacot">
    <div class="tentruong">&nbsp</div>
    <div class="input">
        <asp:CheckBox ID="cbthemmoi" runat="server" Text="Tiếp tục thêm thêm thafh viên sau khi thêm thành viên này" />
    </div>
            </div>
    <div class="chuacot">
    <div class="tentruong">&nbsp</div>
    <div class="input">
        <asp:Button ID="btnthemmoi" runat="server" Text="Thêm mới" OnClick="btnthemmoi_Click" style="cursor: pointer;background-color:#344675;font-weight:600;color: #00F2C3; border: 1px solid #00f2c3; border-radius:5px;height: 28px;    text-shadow: 0 0 150px #00F2C3, 0 0 60px #00F2C3, 0 0 10px #00F2C3;
    width: 104px"/>
        <asp:Button style="text-shadow: 0 0 150px #ec250d, 0 0 60px #ec250d, 0 0 10px #ec250d;color: #ec250d; border: 1px solid #ec250d; border-radius:5px;cursor:pointer;background-color:#344675; font-weight:600;height: 28px;
    width: 104px" ID="btnhuy" runat="server" Text="Hủy" OnClick="btnhuy_Click" />
    </div>
</div>

</div>
    </div>