﻿body {
    font: normal 12px Arial;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
}
*{
    box-sizing:border-box;
}
.formDangNhap{
    width: 400px;
    margin: auto;
    margin-top:100px;
}
.head {
    font-weight: bold;
    padding: 8px 10px;
    background-image: linear-gradient(to bottom left, #ca0705, #d64738, #ed5593);
    background-size: 210% 210%;
    background-position: 100% 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}
.controls{
     border: solid 1px #dfdfdf;
     padding:10px;
     height:165px;
}
.row{
    overflow: hidden;
    padding-bottom:10px;

}
.left{
    float: left;
    width:120px;
    color: #fff;
}
.right {
    float: left;
    width: 240px;
}
.right input[type=text],
.right input[type=password]{
    border: solid 1px #dfdfdf;
    width:100%;
    padding:5px;
}
.btnDangNhap {
    cursor: pointer;
    background-color: #344675;
    font-weight: 600;
    border-radius: 5px;
    height: 28px;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0 0 150px #ec250d, 0 0 60px #ec250d, 0 0 10px #ec250d;
    color: #ec250d;
    border: 1px solid #ec250d;
}