﻿body {
    margin: 0 auto;
    padding: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1e1e2f;
}
*{
    outline: none;
}
:root {
    --bg1: #9b59b6;
    --bg2: #3498db;
    --text: #26ade4;
}
.list_link {
    text-decoration: none;
    color: ghostwhite;
    font-weight: 600;
    text-shadow: 0 0 100px #fff, 0 0 10px #fff, 0 0 10px #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    
}
.header_logo{
    padding-left: 10px;

}

.list {
    display: flex;
    background-color: #2182f7;
    text-align: center;
    justify-content: center;
    height: 50px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    border-radius: 5px;
}
    .list ul,
    .list li {
        list-style: none; 
        display: inline-block;
        padding: 2px 10px;
        
    }
    .list li:hover{
        background-color: #3BAAFF;
    }
    .list_menu{
        display: flex;
    }
.info {
    width: 1089px;
    box-sizing: content-box;
    border: solid 1px #00f2c3;
}
.list_menu_item {
    width: 210px;
    box-sizing: border-box;
    border: solid 1px #00f2c3;
    margin-left: 10px;
}
.list_menu_item li{
     
    }
    .list_menu_item li,
    .list_menu_item a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-shadow: 0 0 150px #fff, 0 0 60px #fff, 0 0 10px #fff;
    }
.insert{
    
    padding:10px;

}
.thongtin{
    overflow:hidden;

}
.tentruong{
    width:150px;
}
.input{
    width: cacl(100%-150px);

}
.chuacot{
    display:flex;
    padding: 5px 0px;
}
.chuainfo{
    margin-top: 10px;
}

.list_menu_item li, .list_menu_item a {
    color: white;
}
.hienthi {
    width: 100%;
    border: solid 1px #fd5d93;
    border-collapse:collapse;
}
    .hienthi th,
    .hienthi td {
        border: solid 1px #fd5d93;
        padding: 5px;
    }
.khoangcach{
    padding:5px 5px;
}
.cotid{
    text-align:center
}
.cotmamaytinh{
    text-align:center;
}
.cothinhanh {
    align-items: center;
    position: relative;
    z-index:1;
}
.anh {
        height: auto;
        width: 40px;
    }
.anhhover{
    max-height: 150px;
    max-width: 150px;
    display:none;
}
.cothinhanh:hover .anhhover{
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.cottenmt{
    text-align:left;
}
.cotloaimt{
    text-align:center;
}
.cotdonvisx{
    text-align:center;
}
.cotcongcu{
    text-align:left;
}
.cotcongcu a{
    text-align:center;
    color:white;
    padding: 2px 2px;
}
.logoadd{
    padding: 0px 5px !important;
}
.logorepaid{
    padding: 0px 5px !important;
}
.logodelete{
    padding:0px 5px !important;
}
.anhchinhsua{
    max-width:150px;
    max-height:100px;
}
canvas {
    cursor: crosshair;
    display: block;
}
.tbdone{
    width: 40px;
    height:20px;
}
.cotidev {
    text-align: center;
}

.cottenev {
    text-align: center;
}

.cotngaydienraev {
    text-align: left;
}

.cotghichuev {
    text-align: left;
}